# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/
*.swp
*.swo

# Shell history (if generated or accidentally saved)
.bash_history
.zsh_history

# Executables or compiled artifacts
*.out
*.exe
*.bin
*.o
*.log

# Temporary files
*.tmp
*.bak
*.backup
*.old

# VSCode and JetBrains IDEs
.vscode/
.idea/

# Node if you decide to use npm tooling later
node_modules/

# Mac `.AppleDouble` resource fork files
.AppleDouble